{% extends 'howeydoin/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
{% block body %}
<header class="py-5 bg-image" style="background-color: #d3aebf; max-width: 100%; height: 25frem;">
    <div class="text-center my-5">
        <img src="/static/pictures/howeydoinlogo.png" alt="" style="height: 10rem">
        <p class="subtext mb-0 header-text" style="color: #454545">A website built to hold family recipes</p>
    </div>
</header>


<section>
    <h2 class="text-center py-5">Just a few highlights:</h2>
    <div class="container pb-5">
    <div class="row">
    {% for item in item_list %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'home:detail' item.id %}"><img src="{% static item.image.url %}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.details }}</p>
              </div>
            </div>
        </div>
    {% endfor %}
</section>




<section class="pt-5">
    <div class="about-section">
        <h2>View all recipes</h2>
        <p class="mb-0">Jump right in and get to cooking</p>
        <br>
        <a href="{% url 'home:allrecipes' %}"><button class="btn btn-warning">Let's Go!</button></a>
    </div>
</section>
{% endblock %}
</body>
</html>
